div{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid black;
    display:flex;
    text-align: center;
}
#container{
    height: 100px;
    width: 100px;
    position:relative;
    left:60px;
    
}
p{
    font-size: 30px;
    background-color: bisque;
    
}
#box1{
    
    background-image: url(city.png);
    background-size: cover;
}
#box2{
    background-color: blueviolet;
    position: sticky;
    right: 10px;
}
#box3{
    background-color: aquamarine;
}